<nav class="navbar navbar-expand-md navbar-light sticky-top">
    <button class="navbar-toggler btn nav-btn" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <div class="icon" id="hamburger">
    </button>
    <a class="navbar-brand d-flex align-items-center" href="/">
        <img class="brand-logo" src="/static/logo.png"> pahiram 
    </a> 
</nav>