<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <!-- Custom Styles -->
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/styles-login.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

   

  <title>Log In</title>
  <link rel="icon" href="/static/logo.png">
</head>

<body class="d-flex flex-column justify-content-center align-items-center">
  <div class="card no-hover d-flex flex-column align-items-center justify-content-center m-5">
    <img class="brand-logo" src="/static/logo.png"> 
    <h1 class="mb-5 header-brand">pahiram</h1>
    <a href="/auth/google" class="d-flex flex-row flex-wrap justify-content-center align-items-center btn btn-round btn-primary btn-lg">
      <div>Log in</div>
    </a>
  </div>
</body>

</html>