<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">

  <!-- Custom Styles -->
  <link href="..//css/styles.css" rel="stylesheet">
  <link href="..//css/styles-manage-people.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

   

  <title>People</title>
  <link rel="icon" href="..//static/logo.png">

</head>

<body>
  <div class="container-fluid">
    <div class="main-container row">
      {{> sidenav act=active sb=sidebarData}}

      <div class="main col-md-9 col-lg-10 ml-sm-auto p-0">
        {{> topnav}}
        <main role="main" class="pt-3 px-4">

          <div class="row px-0 col-lg-10 mx-auto">
            <h1 class="col-12 mb-5">Manage people</h1>

            <div class="col-12 row px-0 mx-auto mb-4">
              <div class="col-md-4 input-group mb-2 px-0">
                <div class="form-group form-inline my-auto flex-fill">
                  <input type="search" id="searchBox" class="form-control" placeholder="ID Number">
                </div>
              </div>
              <div class="col-md-8 d-flex justify-content-end px-0" style="overflow-x: auto;">
                <nav class="ml-md-auto mr-md-0 mx-auto">
                  <ul class="pagination d-flex align-items-center" id="peoplePagination">
                  </ul>
                </nav>
              </div>
            </div>

            <div class="card no-hover col-12 p-4">
              <div class="table-responsive">
                <table class="table table-hover" id="peopleTable">
                  <thead class="">
                    <tr class="active head">
                      <th></th>
                      <th>ID number</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Mobile Number</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </main>
        {{> footer}}
      </div>

    </div>

    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editProfileModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="form-horizontal" method="post" action="/profile/manage">
            <input type="hidden" name="id" id="id">
            <div class="modal-body col-lg-10 mx-auto">
              <div class="d-flex flex-column">
                <div class="form-group form-inline input-group">
                  <label for="firstName" class="col-lg-4 justify-content-start pl-2">First Name</label>
                  <input type="text" class="form-control col-lg-8" name="firstName" id="firstName" required>
                </div>
                <div class="form-group form-inline input-group">
                  <label for="lastName" class="col-lg-4 justify-content-start pl-2">Last Name</label>
                  <input type="text" class="form-control col-lg-8" name="lastName" id="lastName" required>
                </div>
                <div class="form-group form-inline input-group">
                  <label for="idNum" class="col-lg-4 justify-content-start pl-2">ID Number</label>
                  <input type="number" class="form-control col-lg-8" name="idNum" id="idNum" required>
                </div>
                <div class="form-group form-inline input-group">
                  <label for="college" class="col-lg-4 justify-content-start pl-2">College</label>
                  <div class="col-lg-8 px-0">
                    <select class="form-control custom-select" name="college" id="college">
                      {{#each colleges}}
                      <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="form-group form-inline input-group">
                  <label for="degProg" class="col-lg-4 justify-content-start pl-2">Degree Program</label>
                  <input type="text" class="form-control col-lg-8" name="degProg" id="degProg" required>
                </div>
                <div class="form-group form-inline input-group">
                  <label for="mobile" class="col-lg-4 justify-content-start pl-2">Mobile number</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text">+63</span>
                  </div>
                  <input type="tel" pattern="[0-9]{10}" class="form-control col-lg-8" name="mobile" id="mobile" required>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" id="approveStatusSubmit" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="promoteModal" tabindex="-1" role="dialog" aria-labelledby="promoteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="promoteModalLabel">Promote User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" action="/profile/manage/promote" id="promoteUserForm">
            <div class="modal-body col-lg-10 mx-auto">
              <input type="hidden" name="userID" id="promoteUserID">
              <h5>Would you like to promote this user to student representative?</h5>
              <p>
                Student representatives can manage lockers, equipment, users, and reservations. 
                Changes will reflect the user upon restarting his/her session.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="promoteUserBtn">Promote</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="demoteModal" tabindex="-1" role="dialog" aria-labelledby="demoteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="demoteModalLabel">Demote User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" action="/profile/manage/demote" id="demoteUserForm">
            <div class="modal-body col-lg-10 mx-auto">
              <input type="hidden" name="userID" id="demoteUserID">
              <h5>Would you like to demote this user to student representative?</h5>
              <p>
                User will lose administrative privileges.
                Changes will reflect the user upon restarting his/her session.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-warning" id="demoteUserBtn">Demote</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/bootstrap.js"></script>

  <script type="text/javascript" src="../js/styles.js"></script>

  <script type="text/javascript" src="../js/manage-people.js"></script>
</body>

</html>