<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">

  <!-- Datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

  <!-- Custom Styles -->
  <link href="..//css/styles.css" rel="stylesheet">
  <link href="..//css/styles-manage-people.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

  <title>Books</title>
  <link rel="icon" href="..//static/logo.png">

</head>

<body>
  <div class="container-fluid">
    <div class="main-container row">
      {{> sidenav act=active sb=sidebarData}}

      <div class="main col-md-9 col-lg-10 ml-sm-auto p-0">
        {{> topnav}}
        <main role="main" class="pt-3 px-4">

          <div class="row px-0 col-lg-10 mx-auto">
            <h1 class="col-12 mb-5">Manage books</h1>

            <div class="col-12">
              <div class="row px-0 mx-auto mb-4 d-flex justify-content-between">
                <div class="col-md-4 input-group mb-2 px-0">
                  <div class="form-group form-inline my-auto flex-fill">
                    <input type="search" id="searchBox" class="form-control" placeholder="Book title">
                  </div>
                </div>
                <a id="setRentalDate" data-toggle="modal" href="#setRentalDatesModal"
                  class="btn btn-secondary mb-auto d-flex align-items-center ml-auto mr-4 pl-3" {{#if
                  rentalDatesConfig}} data-startdate="{{rentalDatesConfig.startDate}}"
                  data-enddate="{{rentalDatesConfig.endDate}}" data-returndate="{{rentalDatesConfig.returnDate}}"
                  {{/if}}>
                  <div class="icon mr-2 white" id="edit"></div> Edit rental dates
                </a>
                <a id="addBook" data-toggle="modal" href="#addBookModal"
                  class="btn btn-primary mb-auto d-flex align-items-center pl-3">
                  <div class="icon mr-2 white" id="add"></div> Add book
                </a>
              </div>

              <div class="card no-hover p-4">
                <div class="table table-responsive">
                  <table class="table table-hover" id="booksTable">
                    <thead class="">
                      <tr class="active head">
                        <th>Title</th>
                        <th>Author/s</th>
                        <th>Edition</th>
                        <th>Number in Stock</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </main>
        {{> footer}}
      </div>

    </div>

    <div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteBookModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body col-lg-10 mx-auto">
            <form method="POST" action="/manage-books/delete" id="deleteBookForm">
              <input type="hidden" name="bookid" id="delHiddenBookID">
            </form>
            <h5 id="deleteHeader">Do you really want to delete this book?</h5>
            <div class="col-12 px-0">
              <div class="alert alert-warning" role="alert" id="onRentAlert">
                <strong>Action unsuccessful!</strong> Book cannot be deleted while still on rent.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="deleteBookButton">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addBookModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="form-horizontal" method="post" action="/manage-books/create" id="addBookForm">
            <div class="modal-body col-lg-10 mx-auto">
              <div class="alert alert-warning" role="alert" id="addBlankAlert">
                Book title, authors, and amount on stock should not be empty.
              </div>
              <div class="alert alert-warning" role="alert" id="addTitleAlert">
                Book title should contain at least 1 letter.
              </div>
              <div class="alert alert-warning" role="alert" id="addAuthorsAlert">
                Authors field should contain at least 1 letter.
              </div>
              <div class="alert alert-warning" role="alert" id="addEditionAlert">
                Book edition should contain 50 characters at max.
              </div>
              <div class="alert alert-warning" role="alert" id="addQuantityAlert">
                Amount on stock should be a number.
              </div>
              <div class="alert alert-warning" role="alert" id="addBookDuplicateAlert">
                A book with the same title, author, and edition already exists.
              </div>
              <div class="d-flex flex-column">
                <div class="form-group form-inline input-group">
                  <label for="editTitle" class="col-lg-4 justify-content-start pl-2">Title</label>
                  <input type="text" class="form-control col-lg-8" name="title" id="addTitle"
                    placeholder="Enter book title">
                </div>
                <div class="form-group form-inline input-group">
                  <label for="lastName" class="col-lg-4 justify-content-start pl-2">Author/s</label>
                  <input type="text" class="form-control col-lg-8" name="authors" id="addAuthors"
                    placeholder="Enter name of author/s">
                </div>
                <div class="form-group form-inline input-group">
                  <label for="idNum" class="col-lg-4 justify-content-start pl-2">Edition (optional)</label>
                  <input type="text" class="form-control col-lg-8" name="edition" id="addEdition"
                    placeholder="Enter book edition">
                </div>
                <div class="form-group form-inline input-group">
                  <label for="add-equipment-ct" class="col-lg-4 justify-content-start pl-2">Amount on stock</label>
                  <input id="addQuantity" type="number" class="form-control col-lg-8"
                    placeholder="Enter number of stocks" name="quantity" min="1" max="1000">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
              <input type="button" class="btn btn-primary" id="addBookSubmitButton" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="editBookModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editBookModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="form-horizontal" method="post" action="/manage-books/update" id="editBookForm">
            <input type="hidden" name="id" id="editId">
            <div class="modal-body col-lg-10 mx-auto">
              <div class="d-flex flex-column">
                <div class="form-group form-inline input-group">
                  <label for="editTitle" class="col-lg-4 justify-content-start pl-2">Title</label>
                  <input type="text" class="form-control col-lg-8" name="title" id="editTitle"
                    placeholder="Enter book title" readonly>
                </div>
                <div class="form-group form-inline input-group">
                  <label for="lastName" class="col-lg-4 justify-content-start pl-2">Author/s</label>
                  <input type="text" class="form-control col-lg-8" name="authors" id="editAuthors"
                    placeholder="Enter name of author/s" readonly>
                </div>
                <div class="form-group form-inline input-group">
                  <label for="idNum" class="col-lg-4 justify-content-start pl-2">Edition (optional)</label>
                  <input type="text" class="form-control col-lg-8" name="edition" id="editEdition"
                    placeholder="Enter book edition" required>
                </div>
                <div class="form-group form-inline input-group">
                  <label for="add-equipment-ct" class="col-lg-4 justify-content-start pl-2">Amount on stock</label>
                  <input id="editQuantity" type="number" class="form-control col-lg-8"
                    placeholder="Enter number of stocks" name="count" min="1" max="1000" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
              <input type="button" class="btn btn-primary" id="approveStatusSubmit" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="setRentalDatesModal" tabindex="-1" role="dialog"
      aria-labelledby="setRentalDatesModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="setRentalDatesModal">Set Book Rental Dates</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body col-lg-10 mx-auto">
            <div class="alert alert-warning" role="alert" id="emptyRentalDateAlert">
              Please fill up all input fields.
            </div>
            <div class="alert alert-warning" role="alert" id="startDateAlert">
              The start date set must be greater or equal to the current date.
            </div>
            <div class="alert alert-warning" role="alert" id="endDateAlert">
              The end date set must be greater than or equal to the start date.
            </div>
            <div class="alert alert-warning" role="alert" id="returnDateAlert">
              Return date must be greater than the end rental date.
            </div>
            <form id="setRentalDatesForm" method="POST" action="/manage-books/set-rental-dates">
              <div class="form-group form-inline input-group">
                <label for="startDate" class="col-lg-3 justify-content-start pl-2">Start date</label>
                <input type="date" class="form-control col-lg-5" name="startDate" id="startDate">
                <input type="time" class="form-control col-lg-4" name="startTime" id="startTime">
              </div>
              <div class="form-group form-inline input-group">
                <label for="endDate" class="col-lg-3 justify-content-start pl-2">End date</label>
                <input type="date" class="form-control col-lg-5" name="endDate" id="endDate">
                <input type="time" class="form-control col-lg-4" name="endTime" id="endTime">
              </div>
              <div class="form-group form-inline input-group">
                <label for="returnDate" class="col-lg-3 justify-content-start pl-2">Return date</label>
                <input type="date" class="form-control col-lg-9" name="returnDate" id="returnDate">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="setRentalDatesButton">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="http://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="../js/bootstrap.js"></script>

  <script type="text/javascript" src="../js/styles.js"></script>
  <script src="/js/validator.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="../js/manage-books.js"></script>
</body>

</html>