<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <!-- Custom Styles -->
  <link href="/css/styles.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/9d250896cd.js" crossorigin="anonymous"></script>

  <title>Terms and Conditions</title>
  <link rel="icon" href="/static/logo.png">
</head>

<body>
  <div class="container-fluid">
    <div class="main-container row">
      {{> sidenav act=active sb=sidebarData}}

      <div class="main col-md-9 col-lg-10 ml-sm-auto p-0">
        {{> topnav}}

        <main role="main" class="pt-3 px-4">
          <div class="row px-0 col-lg-10 align-items-end mx-auto">
            <div class="col-12 mb-5">
              <h1>Terms and conditions</h1>
              <p>
                The terms and conditions outline the rules and regulations for the use of
                pahiram's website and services.
              </p>
            </div>


            <div class="container pb-5">
              <h2>Equipment service</h2><br>
              <ol class="list-group list-group-flush">
                <li class="list-group-item">1. A user can borrow up to 2 pieces of equipment per reserved date.</li>
                <li class="list-group-item">2. All equipment are to be collected and returned to the Computer Studies
                  Government office.</li>
                <li class="list-group-item">3. There is no time limit in borrowing equipment as long as it is returned
                  before 6pm.</li>
                <li class="list-group-item">4. Equipment will be tested before borrowing and upon returning. </li>
                <li class="list-group-item">5. Charges may apply to the following:
                  <ul>
                    <li>Php 50.00 - For returning borrowed materials beyond 6pm.</li>
                    <li>Php 150.00 - For damaged/loss equipment.</li>
                  </ul>
                </li>
                <li class="list-group-item">6. Unreturned equipment will impose fee incrementing by Php 20.00 per day.
                </li>
                <li class="list-group-item">7. Damaged/loss equipment should be replaced immediately.</li>
                <li class="list-group-item">8. Failure to comply with the terms will result in restricted use of
                  pahiram's equipment borrowing service.</li>
              </ol>
            </div>

            <div class="container pb-5">
              <h2>Book service</h2><br>
              <ol class="list-group list-group-flush">
                <li class="list-group-item">1. A student can only borrow 1 book at a time.</li>
                <li class="list-group-item">2. All books are to be collected and returned to the University Student Government (USG) office.</li>
                <li class="list-group-item">3. The borrower is responsible for preserving the borrowed book by doing the necessary repairs such as gluing/taping loose leaves and/or covering the book with clear plastic cover.</li>
                <li class="list-group-item">4. The borrowed book must be returned intact and in the exact same condition as or better than when the borrower received it.</li>
                <li class="list-group-item">5. If the borrowed book is damaged or lost, the borrower must replace it with a book of the same title and edition.</li>                            
                <li class="list-group-item">6. Failure to return the book on or before the given return date will result in a fine of Php 200.00 and the borrower’s ID will be regulated by the Discipline Office.</li>
                <li class="list-group-item">7. Borrowed books with fines will be returned to the Lost and Found section of the Discipline Office (SJ104).</li>
                <li class="list-group-item">8. The borrower’s ID will be cleared upon the return of the book and the settlement of imposed fines.</li>
                <li class="list-group-item">9. Depending on the case, failure to comply with the terms will result in restricted use of pahiram's book rental service.</li>
              </ol>
            </div>

            <div class="container pb-5">
              <h2>Locker service</h2><br>
              <ol class="list-group list-group-flush">
                <li class="list-group-item">1. A student can only own 1 locker at a time.</li>
                <li class="list-group-item">2. Online reservation does not guarantee locker ownership.</li>
                <li class="list-group-item">3. Locker rental rates:
                  <ul>
                    <li>Php 70.00 - For small lockers.</li>
                    <li>Php 90.00 - For big lockers.</li>
                  </ul>
                </li>
                <li class="list-group-item">4. The student is required to bring his/her padlock and key to the Student
                  Services team after reserving a locker.</li>
                <li class="list-group-item">5. The student has one day (the day after reserving) to secure the
                  requirements and fees to the Student Services team. </li>
                <li class="list-group-item">6. Failure in fulfilling the requirements will forfeit locker reservation.
                </li>
                <li class="list-group-item">7. A padlock sticker will be given to locker owners upon accomplishing the
                  requirements and fees. The sticker
                  should be evident on the padlock at all times. Lockers with no official sticker will be forcefully
                  opened with or without
                  prior notice to the owner.</li>
                <li class="list-group-item">8. The University Student Government (USG) and the Student Discipline and
                  Formation Office (SDFO) will NOT be held liable
                  for any losses and damages to the items inside the locker.</li>
                <li class="list-group-item">9. Storage of any object which may be spoiled is strictly prohibited.
                  Students having such objects in the borrowed locker will
                  have their padlocks forcefully opened with or without prior notice.</li>
                <li class="list-group-item">10. In the case of lost keys or forgetten padlock codes, you may request
                  locker to be forcefully opened for a fine of
                  Php 80.00.</li>
                <li class="list-group-item">11. All lockers must be emptied on or before the current term's Grade
                  Consultation Day. Failure to comply will result in
                  a fine of Php 200.00.</li>
                <li class="list-group-item">12. Students who wish to rent a locker outside the specified rental period
                  would be charged a late fee of Php 50.00 and
                  will be accommodated based on availability.</li>
                <li class="list-group-item">13. Depending on the case, failure to comply with the terms will result in
                  restricted use of pahiram's locker rental service.</li>
              </ol>
            </div>

          </div>


        </main>

        {{> footer}}

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/styles.js"></script>

</body>

</html>